/* fb box */
#fb-box { 
    overflow:hidden;
    }
.is-nav .main-content {
    background-color: salmon;
}

/* post */

.post {
    margin-bottom: 3em;
    line-height: 1.4em;

    /* typography */
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    ul {}
    ol {}
    li {}
    b, strong {}
    i, em {}
    blockquote {}
    p {
        margin-bottom: 1em;
        font-size: 0.875rem;
    }
}
.post-title {
    margin-bottom: 1.3em;
    position: relative;
    padding-top: 1em;
    border-top: wheat $onePx solid;

    h1 {
        font-size: 1.75rem;
        line-height: 1.2em;
        font-family: $headingFont;
        font-weight: 400;
    }
    .tags {
        font-size: 0.75em;
        margin-bottom: 0;
    }
    time {
        position: absolute;
        left: (-102 / $baseFontSize) + rem;
        top: 0;
        width: (50 / $baseFontSize) + rem;
        font-size: 1em;
        line-height: 1em;
        overflow: hidden;
        text-align: center;
        border: $onePx solid wheat;
        padding: (5 / $baseFontSize) + rem;
        background-color: #F5F2E5;
        color: #916A5B;
        box-shadow: $minOnePx $onePx $twoPx 0 rgba(0, 0, 0, 0.25);
        font-weight: 400;
        b {
            display: block;
            font-family: $headingFont;
            font-weight: 400;
        }
        .day {
            font-size: 2.2em;
            line-height: 1.1em;
        }
        .month {
            font-size: 1em;
            margin-bottom: 0.1em;
            text-transform: uppercase;
        }
        .year {
            font-size: 0.9em;
        }
    }
}
.post-metadata {
    font-size: 0.8em;
    .comments {
        float: left;
    }
    .links {
        float: right;
    }
}
