/* post */

.post {
    margin-bottom: 3em;
    line-height: 1.4em;

    /* typography */
    h1, h2, h3 {
        font-family: $headingFont;
        font-weight: 400;
        line-height: 1.2em;
        margin-bottom: 0.6em;
    }
    h1 {
        font-size: 1.75rem;
        margin-top: 1.6em;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 2em;
    }
    h3 {
        font-size: 1.2rem;
        margin-top: 2em;
        color: #8B3E1C;
    }
    h4 {
        margin-top: 1em;
        margin-bottom: 0.4em;
        color: #4B4B3F;
    }
    h5 {
        margin-bottom: 0.6em;
        font-size: 0.875rem;
    }
    h6 {
        margin-bottom: 0.6em;
        font-size: 0.875rem;
        font-weight: normal;
    }
    ul, ol {
        list-style-position: outside;
        margin-bottom: 1em;
        font-size: 0.875rem;
        padding-left: 1.4em;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: circle;
    }
    blockquote {
        background-color: #F5F2E5;
        box-shadow: 0rem 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
        padding: 1em 2em;
        margin-bottom: 1em;
        color: $highlightColor;
        font-style: italic;
        width: 60%;
    }
    blockquote p:last-child {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 1em;
        font-size: 0.875rem;
    }
    .alignright {
        float: right;
        margin-left: 0.5em;
    }
    .alignleft {
        float: left;
        margin-right: 0.5em;
    }
    .wp-caption-text {
        font-size: 0.8em;
        font-style: italic;
        line-height: 1.3em;
    }
    .entry {
        margin-bottom: 1rem;
    }
}
.post-title {
    margin-bottom: 1.3em;
    position: relative;
    padding-top: 1em;
    border-top: wheat $onePx solid;

    h1 {
        font-size: 1.75rem;
        line-height: 1.2em;
        font-family: $headingFont;
        font-weight: 400;
        margin: 0;
    }
    .tags {
        font-size: 0.75em;
        margin-bottom: 0;
    }
    time {
        position: absolute;
        left: (-102 / $baseFontSize) + rem;
        top: 0;
        width: (50 / $baseFontSize) + rem;
        font-size: 1em;
        line-height: 1em;
        overflow: hidden;
        text-align: center;
        border: $onePx solid wheat;
        padding: (5 / $baseFontSize) + rem;
        background-color: #F5F2E5;
        color: $highlightColor;
        box-shadow: $minOnePx $onePx $twoPx 0 rgba(0, 0, 0, 0.25);
        font-weight: 400;
        b {
            display: block;
            font-family: $headingFont;
            font-weight: 400;
        }
        .day {
            font-size: 2.2em;
            line-height: 1.1em;
        }
        .month {
            font-size: 1em;
            margin-bottom: 0.1em;
            text-transform: uppercase;
        }
        .year {
            font-size: 0.9em;
        }
    }
}
.post:first-child .post-title {
    border-top: 0 none;
}
.post-metadata {
    font-size: 0.8em;
    .icon-comment {
        float: left;
    }
    .links {
        float: right;
    }
    .post-edit-link {
        margin-left: 1em;
    }
}
.other-posts-links {
    font-family: $headingFont;
    font-weight: 400;
    margin: 1em 0 2em;
    background-color: #F5F2E5;
    box-shadow: 0rem 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
    padding: 0.2em 0.2em;
    font-size: 1rem;
    text-align: center;
    .prev {
        float: left;
    }
    .next {
        float: right;
    }
}

/* comments */
.comments {
    h1 {
        font-size: 1.375rem;
        line-height: 1.2em;
        font-family: $headingFont;
        font-weight: 400;
        margin-top: 0.5em;
    }
}
.comment-list {
    list-style-type: none;
    margin-bottom: 1rem;
    li {
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.8);
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.15);
        font-size: 0.85rem;
        padding: 0.6em 0 1.2em;
    }
    .comment-author {
        font-weight: bold;
        font-size: 1em;
        margin-bottom: 0.375rem;
    }
    .icon-comment:before {
        color: #6B6B5B;
        margin-right: 0.375rem;
    }
    .comment-accept {
        color: $alertColor;
    }
    .comment-text p {
        margin-bottom: 0;
    }
    .comment-time {
        font-size: 0.8em;
        color: $highlightColor;
    }
}
.comment-form {
    margin-top: 2rem;
    width: 20em;
    max-width: 100%;
    h2 {
        font-size: 1.375rem;
        line-height: 1.2em;
        font-family: $headingFont;
        font-weight: 400;
        margin-bottom: 0.5em;
    }
    label {
        display: block;
        i {
            color: $alertColor;
            font-size: 0.85em;
            vertical-align: middle;
        }
    }
}
input, textarea {
    font-family: $bodyFont;
    font-size: 0.875rem;
    color: $txtColor;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
    border: 1px solid #CFBEA8;
    -webkit-box-shadow: $minOnePx $onePx $onePx 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: $minOnePx $onePx $onePx 0 rgba(0, 0, 0, 0.25);
    box-shadow: $minOnePx $onePx $onePx 0 rgba(0, 0, 0, 0.25);
}
button {
    background-color: #F5F2E5;
    border: $onePx solid wheat;
    box-shadow: $minOnePx $onePx $onePx 0 rgba(0, 0, 0, 0.35);
    padding: 0 $tenPx;
    line-height: (29/$baseFontSize) + rem;
    display: block;
    font-family: $headingFont;
    font-size: 1.2rem;
    color: $highlightColor;
    text-transform: capitalize;
    letter-spacing: $onePx;
    cursor: pointer;

    &:hover {
        box-shadow: $onePx  $minOnePx $onePx 0 rgba(0, 0, 0, 0.35);
    }
    &:active {
        box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.6);
    }
}

/* display photo */
.display-photo {
    background: #f8f8ff;
    height: auto;
    margin: -14% auto 10%;
    padding: $tenPx;
    position: relative;
    width: (280 / $baseFontSize ) + rem;
    max-width: 90%;
    -webkit-box-shadow: 0 $onePx 7px hsla(0,0%,0%,.2);
    -moz-box-shadow: 0 $onePx 7px hsla(0,0%,0%,.2);
    box-shadow: 0 $onePx 7px hsla(0,0%,0%,.2);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);

    &:after {
        content: "";
        position: absolute;
        top: $tenPx;
        bottom: $tenPx;
        left: $tenPx;
        right: $tenPx;
        -webkit-box-shadow: inset 0 0 $tenPx hsla(0,0%,0%,.25);
        -moz-box-shadow: inset 0 0 $tenPx hsla(0,0%,0%,.25);
        box-shadow: inset 0 0 $tenPx hsla(0,0%,0%,.25);
    }

    img {
        display: block;
        width: (280 / $baseFontSize ) + rem;
        max-width: 100%;
    }
}

/* footer */
.main-footer {
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em 0;
}

/*** side bar ***/

/* fb box */
#fb-box {
    overflow:hidden;
}
#fb-box iframe {
  margin:-1px;
}
#fb-box .fb-hide-border {
  width:312px;
  height:190px;
  overflow:hidden;
}
.icon-feed {
    float:left;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    font-size: 1.6em;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.side-widget, 
.widget {
    margin-bottom: 2em;
    padding-top: .625em;

    h1, .widgettitle {
        font-family: $headingFont;
        font-weight: 400;
        margin-bottom: .625em;
        background-color: #F5F2E5;
        box-shadow: 0rem 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.25);
        padding: 0.3em 0;
        text-align: center;
        color: $highlightColor;
    }

    li {
        display: block;
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.8);
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.15);
        font-size: 0.85rem;
        a {
            display: block;
            padding: 0.3em 0.6875rem;
            color: $highlightColor;
            -webkit-transition: background-color 300ms ease-in;
            -moz-transition: background-color 300ms ease-in;
            -ms-transition: background-color 300ms ease-in;
            -o-transition: background-color 300ms ease-in;
            transition: background-color 300ms ease-in;
            
            &:hover {
                background-color: #ECEAE6;
                text-decoration: none;
            }
        }
    }
}
.search-box {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding-left: 2rem;
    padding-top: 0;

    .icon-feed {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.search-input {
    margin-right: 2.4em;
}
.search-btn {
    width: 2.4rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover {
        box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.6);
    }
}
.upcomming-concerts {
    h1 {
        margin-bottom: 0;
    }
    li {
        padding: 1em 0;
        text-align: center;
    }
    em {
        font-size: 1rem;
        color: $linkColor;
        font-style: normal;
        display: block;
    }
    small {
        font-size: 0.825rem;
        display: block;
    }
    strong {
        font-weight: normal;
        font-size: 1.75rem;
        font-family: $headingFont;
        font-weight: 400;
        color: $highlightColor;
        display: block;
        margin: 0.3rem 0;
    }
    .no-items {
        margin: 1rem 0;
        text-align: center;
    }
}

/* contact page */
.vcard {
    margin-bottom: 2em;
}

/* ovveride picasa-image-express plugin styles */
.post .pie-img-wrapper {
    margin-bottom: 0;
    padding: 0 0.3em 0.6em;
    a {
        display: block;
        width: 100%;
        text-align: center; 
        &:hover img {
            -webkit-filter: brightness(130%);
        }
    }
}
.pie-item {
    box-sizing: border-box;
    width: 32%;
    margin: 0 !important;
}


