/* default = large screen */
.page {
    width: (1024 / $baseFontSize) + em;
    margin: 0 auto 2em;

}
.inner-wrap {
    position: relative;
}
.body{
    background-color:#FFF;
    border: 2px solid #94D3DE;
}
.main-content {
    width: 54%;
    float:left;
    padding: 0 4%;
}
.side-content {
    width: 34%;
    float:right;
    padding: 0 2% 2em;
}
.toggle-nav {
    display: none;
}

/**************** NON RETINA ****************************/
/* large and normal screen */
@media only screen and (min-width: 64.625em) {

  /* like default */

}

/* medium screen */
@media only screen and (min-width : 43.75em) and (max-width : 64.625em) {
    .page {
        width: 100%;
    }
    .side-content {
        width: 30%;
        padding: 0 1%;
    }
    .main-content {
        width: 64%;
        padding: 0 2%;
    }
    .main-header{
        h1 {
            width: 8rem;
            background-position: 0 90%;
        }
        h2 {
            left: 8.2rem;
            top: 5.2rem;
        }
    }



}
@media only screen and (max-width : 70.875em) {
    .post-title {
        padding-left: 5rem;
        min-height: (62 / $baseFontSize) + rem;
        time {
            left: 0;
            top: $minOnePx;
        }
    }
}

/* small screen */
@media only screen and (max-width: 43.75em) {
    .page {
        width: 100%;
        min-width: 18.75em;
        overflow:hidden;
    }
    .main-content, .side-content {
        width: 96%;
        padding: 0 2%;
        float:none;
    }
    .toggle-nav {
        display: block;
    }
    .display-photo {
        display: none;
    }
}
/* very small screen */
@media only screen and (max-width: 26.75em) {
    .main-header h2 {
        position: static;
        padding: 0 0.5rem 1rem;
    }
}

/******************** RETINA **************************/
/* large and normal screen */
@media only screen and (min-width: 2068px) and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (min-width: 2068px) and (min-resolution: 144dpi) {
         
       }
/* medium screen */
@media only screen and (min-width: 1400px) and (max-width : 2067px) and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (min-width: 1400px) and (max-width : 2067px) and (min-resolution: 144dpi) {


}

/* small screen */
@media only screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (max-width: 1199px) and (min-resolution: 144dpi) {


}       