@font-face {
	font-family: 'iconSprite';
	src:url('fonts/iconSprite.eot');
	src:url('fonts/iconSprite.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconSprite.svg#iconSprite') format('svg'),
		url('fonts/iconSprite.woff') format('woff'),
		url('fonts/iconSprite.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconSprite';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-feed:before, .icon-search:before, .icon-radio-unchecked:before, .icon-radio-checked:before, .icon-bubble:before, .icon-list:before, .icon-arrow-right:before, .icon-cancel:before, .icon-locked:before, .icon-unlocked:before, .icon-chat:before, .icon-comments:before, .icon-calendar:before, .icon-calendar-alt-fill:before, .icon-calendar-2:before {
	font-family: 'iconSprite';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-feed:before {
	content: "\21";
}
.icon-search:before {
	content: "\22";
}
.icon-radio-unchecked:before {
	content: "\26";
}
.icon-radio-checked:before {
	content: "\27";
}
.icon-bubble:before {
	content: "\2a";
}
.icon-list:before {
	content: "\2f";
}
.icon-arrow-right:before {
	content: "\31";
}
.icon-cancel:before {
	content: "\28";
}
.icon-locked:before {
	content: "\29";
}
.icon-unlocked:before {
	content: "\2b";
}
.icon-chat:before {
	content: "\32";
}
.icon-comments:before {
	content: "\33";
}
.icon-calendar:before {
	content: "\23";
}
.icon-calendar-alt-fill:before {
	content: "\24";
}
.icon-calendar-2:before {
	content: "\f073";
}
